@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgb(241, 249, 255);
}
.slick-list {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.slick-active {
  display: flex;
  align-items: center;
  justify-items: center;
  width: fit-content;
}
.slick-slide {
  width: fit-content !important;
  margin: 0 2rem;
}
